name: PR Labeling

on:
  pull_request_target:
    types:
    - opened
    - synchronize
    - reopened

permissions:
  contents: read
  pull-requests: write

jobs:
  labeling:
    name: Label PRs (size and chart)

    runs-on: [ubuntu-latest]

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: size-label
      uses: ./
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
