name: PR Labeling

on:
  pull_request_target:
    types:
    - opened
    - synchronize
    - reopened

permissions:
  contents: read
  pull-requests: write

jobs:
  labeling:
    name: Label PRs (size and chart)

    runs-on: [ubuntu-latest]

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: size-label
      uses: ./
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
