name: Linting and testing
on:
  pull_request:

  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint-test:
    runs-on: [ubuntu-latest]
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0

    - run: yarn install

    - run: yarn lint

    # - run: yarn test
