name: PR Labeling

on:
  pull_request_target:
    types:
    - opened
    - synchronize
    - reopened

permissions:
  contents: read
  pull-requests: write

jobs:
  labeling:
    name: Label PRs (size and chart)

    runs-on: [ubuntu-latest]

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: size-label
      uses: ./
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
